[Unit]
Description=Update 7-Tage-Inzidenz (Corona) database timer

[Timer]
OnCalendar=4,16,21:49:00
AccuracySec=10m
Persistent=true

[Install]
WantedBy=timers.target
