[Unit]
Description=Container displaying 7-Tage-Inzidenz (Corona)
Documentation=https://github.com/thkukuk/7-tage-inzidenz-image#readme
After=network-online.target local-fs.target firewalld.service
Wants=network-online.target
StartLimitIntervalSec=40
StartLimitBurst=5

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=1s
TimeoutStopSec=70
EnvironmentFile=-/usr/etc/default/7-tage-inzidenz
EnvironmentFile=-/etc/default/7-tage-inzidenz
ExecStartPre=/bin/rm -f %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull thkukuk/7-tage-inzidenz:latest
ExecStart=/bin/sh -c "/usr/bin/podman run --conmon-pidfile %t/%n.pid --cidfile %t/%n.ctr-id --cgroups=no-conmon --replace -d --rm ${PODMAN_EXTRA_ARGS} ${PORTS} ${VOLUMES} -e TZ=${TZ} -e DEBUG=${DEBUG} -e REGIONS=${REGIONS} -e PAST_DAYS=${PAST_DAYS} --name 7-tage-inzidenz thkukuk/7-tage-inzidenz:latest"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n.ctr-id
Type=notify
PIDFile=%t/%n.pid

[Install]
WantedBy=multi-user.target
